# yaml-language-server: $schema=https://www.schemastore.org/clang-tidy.json
---
Checks:
  - bugprone-*
  - cert-*
  - clang-analyzer-*
  - concurrency-*
  - cppcoreguidelines-*
  - hicpp-*
  - misc-*
  - modernize-*
  - performance-*
  - portability-*
  - readability-*

  - -cert-err33-c
  - -cppcoreguidelines-init-variables
  - -readability-identifier-length
  - -readability-function-cognitive-complexity
  - -portability-avoid-pragma-once
  - -cppcoreguidelines-avoid-magic-numbers
  - -readability-magic-numbers
CheckOptions:
  readability-identifier-naming.FunctionCase: lower_case
  readability-identifier-naming.MemberCase: lower_case
  readability-identifier-naming.StructCase: lower_case
  readability-identifier-naming.StructSuffix: _t
  readability-identifier-naming.VariableCase: lower_case
